<div class="my-2 p-2 bg-secondary rounded rounded-2">
  <div class="d-flex justify-content-between align-items-center mb-1">
    <span class="fs-2 text-light fw-bold">Ajustes</span>
  </div>
  <table class="table table-bordered table-striped">
    <thead class="table-primary">
      <tr>
        @for (item of dataValues; track $index) {
          <th>{{ item }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of dataArray; track $index) {
        <tr>
          <td>
            <a [routerLink]="['form/zona?ver', '{{item.id}}']">{{ item.id }}</a>
          </td>
          <td>
            <a [routerLink]="['form/zona?ver', '{{item.id}}']">{{ item.usuario.id }}</a>
          </td>
          <td>{{ item.tema }}</td>
          <td>{{ item.idioma }}</td>
          <td>{{ item.foto }}</td>
          <td class="text-center fs-2 py-0">
            @if (item.recibir_noticias == true) {
              <i class="bi bi-check-circle-fill text-success"></i>
            } @else {
              <i class="bi bi-x-circle-fill text-danger"></i>
            }
          </td>
                    <td class="text-center fs-2 py-0">
            @if (item.recibir_notificaciones == true) {
              <i class="bi bi-check-circle-fill text-success"></i>
            } @else {
              <i class="bi bi-x-circle-fill text-danger"></i>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
