<section class="my-5">
  <div class="d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Registrarse</h2>

              <form class="row" [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="form-outline mb-4 col-md-6">
                  <input
                    formControlName="nombre"
                    type="text"
                    id="nombre_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="nombre_field">Tu Nombre</label>
                </div>

                <div class="form-outline mb-4 col-md-6">
                  <input
                    formControlName="apellido"
                    type="text"
                    id="apellido_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="apellido_field">Tu Apellido</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    formControlName="username"
                    type="text"
                    id="username_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="username_field">Tu Nombre de Usuario</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    formControlName="email"
                    type="email"
                    id="email_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="email_field">Correo Electrónico</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    formControlName="email_sec"
                    type="email"
                    id="email_sec_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="email_sec_field"
                    >Correo Electronico Secundario</label
                  >
                </div>

                <div class="form-outline mb-4 col-md-6">
                  <input
                    formControlName="tel"
                    type="tel"
                    id="tel_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="tel_field">Teléfono</label>
                </div>

                <div class="form-outline mb-4 col-md-6">
                  <input
                    formControlName="fechaNac"
                    type="date"
                    id="fechNac_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="fechNac_field">Fecha de Nacimiento</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    formControlName="password"
                    type="password"
                    id="password_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="password_field">Password</label>
                </div>

                <!-- <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="password_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="password_field">Repeat your password</label>
                </div> -->

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-primary-light text-light btn-block btn-lg gradient-custom-4 w-100"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  ¿Ya tienes una cuenta?
                  <a href="#!" class="fw-bold text-primary" routerLink="/auth/login"
                    ><u>Iniciar session</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
