<div class="d-none d-md-flex w-100 justify-content-center text-white">
  <ul class="container-fluid nav nav-pills nav-fill justify-content-between p-1 bg-info">
    <li class="nav-item col fs-5 rounded rounded-4"  [routerLink]="['/home']" routerLinkActive="bg-success">
      <i class="bi bi-house-door pe-2 fs-4"></i>
      <a class="d-none d-lg-inline text-light text-decoration-none">Inicio</a>
    </li>
    <li class="nav-item col fs-5 rounded rounded-4"  [routerLink]="['/map']" routerLinkActive="bg-success">
      <i class="bi bi-globe-americas pe-2 fs-4"></i>
      <a class="d-none d-lg-inline text-light text-decoration-none">Mapa</a>
    </li>
    <li class="nav-item col fs-5 rounded rounded-4"  [routerLink]="['/my_routes']" routerLinkActive="bg-success">
      <i class="bi bi-geo-alt pe-2 fs-4"></i>
      <a class="d-none d-lg-inline text-light text-decoration-none">Mis Rutas</a>
    </li>
    <li class="nav-item col fs-5 rounded rounded-4"  [routerLink]="['/fav_routes']" routerLinkActive="bg-success">
      <i class="bi bi-heart pe-2 fs-4"></i>
      <a class="d-none d-lg-inline text-light text-decoration-none" >Rutas Favoritas</a>
    </li>
    <li class="nav-item col fs-5 rounded rounded-4"  [routerLink]="['/settings']" routerLinkActive="bg-success">
      <i class="bi bi-gear pe-2 fs-4"></i>
      <a class="d-none d-lg-inline text-light text-decoration-none">Configuración</a>
    </li>
    @if (authService.currentUserSig()?.roles === '[ROLE_ADMIN]') {
      <li class="nav-item col fs-5 rounded rounded-4"  [routerLink]="['/admin/solicitudes']" routerLinkActive="bg-success">
        <i class="bi bi-key pe-2 fs-4 text-light text-decoration-none"></i>
        <a class="d-none d-lg-inline text-light text-decoration-none">Administrador</a>
      </li>
    }
  </ul>
</div>

<nav class="d-sm-flex d-md-none navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="logo.png" class="img-fluid" alt="el-roosevelt" /></a>
    <button
      class="navbar-toggler bg-white fs-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <a class="navbar-toggler-icon"></a>
    </button>
    <div class="collapse navbar-collapse bg-white rounded rounded-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-center" aria-current="page" href="#">
            <i class="bi bi-house-door pe-1"></i>
            Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-globe-americas pe-1"></i>
            Mapa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" aria-current="page" href="#">
            <i class="bi bi-geo-alt pe-1"></i>
            Mis Rutas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-heart pe-1"></i>
            Rutas Favoritas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-gear pe-1"></i>
            Configuración</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-key pe-1"></i>
            Administrador</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
