<div class="d-none d-md-flex w-100 justify-content-center bg-secondary text-white">
  <ul class="container-fluid nav nav-pills nav-fill justify-content-between p-1 bg-info-dark">
    <li class="nav-item col">
      <i class="bi bi-house-door pe-1"></i>
      <span class="d-none d-lg-inline">Inicio</span>
    </li>
    <li class="nav-item col">
      <i class="bi bi-globe-americas pe-1"></i>
      <span class="d-none d-lg-inline">Mapa</span>
    </li>
    <li class="nav-item col">
      <i class="bi bi-geo-alt pe-1"></i>
      <span class="d-none d-lg-inline">Mis Rutas</span>
    </li>
    <li class="nav-item col">
      <i class="bi bi-heart pe-1"></i>
      <span class="d-none d-lg-inline">Rutas Favoritas</span>
    </li>
    <li class="nav-item col">
      <i class="bi bi-gear pe-1"></i>
      <span class="d-none d-lg-inline">Configuración</span>
    </li>
    <li class="nav-item col">
      <i class="bi bi-key"></i>
      <span class="d-none d-lg-inline">Administrador</span>
    </li>
  </ul>
</div>

<nav class="d-sm-flex d-md-none navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="logo.png" class="img-fluid" alt="el-roosevelt" /></a>
    <button
      class="navbar-toggler bg-white fs-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white rounded rounded-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-center" aria-current="page" href="#">
            <i class="bi bi-house-door pe-1"></i>
            Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-globe-americas pe-1"></i>
            Mapa</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" aria-current="page" href="#">
            <i class="bi bi-geo-alt pe-1"></i>
            Mis Rutas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-heart pe-1"></i>
            Rutas Favoritas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-gear pe-1"></i>
            Configuración</a
          >
        </li>
                <li class="nav-item">
          <a class="nav-link text-center" href="#">
            <i class="bi bi-key pe-1"></i>
            Administrador</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
