<header class="d-none d-md-grid">
  <div class="px-4 py-2 bg-primary text-white">
    <div class="d-none d-md-flex flex-wrap align-items-center justify-content-between">
      <a href="/" class="d-flex align-items-sm-center align-items-center my-2 text-white text-decoration-none">
        <img src="logo.png" class="img-fluid" alt="el-roosevelt" />
      </a>
      <a class="nav-link text-white" href="#">
        <i class="bi bi-person-circle display-2"></i>
      </a>
    </div>
  </div>
</header>
