<div class="my-2 p-2 bg-success rounded rounded-2">
  <div class="table-responsive">
    <div class="d-flex justify-content-start justify-content-lg-between align-items-center mb-1">
      <span class="fs-2 text-light fw-bold pe-3">Zonas</span>
      <button class="btn btn-info-light" (click)="openFormModal(null)">Crear nueva</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="table-success">
        <tr>
          @for (item of dataValues; track $index) {
            <th>{{ item }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (item of dataArray; track $index) {
          <tr>
            <td>
              <a [routerLink]="[`/admin/${api_endpoint}`, item.id]">{{ item.id }}</a>
            </td>
            <td>{{ item.nombre_zona }}</td>
            <td class="text-center fs-2 py-0">
              @if (item.peligrosidad == 'VERDE') {
                <i class="bi bi-check-circle-fill text-success"></i>
              } @else if (item.peligrosidad == 'AMARILLO') {
                <i class="bi bi-exclamation-circle-fill text-info"></i>
              } @else {
                <i class="bi bi-x-circle-fill text-danger"></i>
              }
            </td>
            <td>
              <div class="d-flex justify-content-center">
                <button class="btn btn-primary-light mx-2 px-4" (click)="openFormModal(item)">
                  Ver
                </button>
                <button class="btn btn-danger mx-2 px-3" (click)="openDeleteModal(item.id)">
                  Borrar
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div class="modal" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h4>¿Eliminar el registro?</h4>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-evenly">
          <button class="btn btn-lg btn-danger" (click)="deleteApi()">Eliminar</button>
          <button class="btn btn-lg btn-success" (click)="closeDeleteModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="formModal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ dataGet.id == 0 ? 'Crear' : 'Actualizar' }} Zona</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="closeFormModal()"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form
          [formGroup]="zonaForm"
          (ngSubmit)="validateData()"
          id="myForm"
          class="row needs-validation px-3 gy-4 gx-5"
        >
          <div class="col-md-12 {{ dataGet.id == 0 ? 'd-none' : '' }}">
            <label for="id_field" class="form-label">ID</label>
            <input
              type="text"
              class="form-control"
              id="id_field"
              value="{{ dataGet.id }}"
              disabled
              readonly
            />
          </div>
          <div class="col-md-12">
            <label for="nombre_zona_field" class="form-label">Nombre de Zona</label>
            <input
              formControlName="nombre_zona"
              type="text"
              value="{{ dataGet.nombre_zona }}"
              name="nombre_zona"
              class="form-control"
              id="nombre_zona_field"
              placeholder="Introduce el nombre de zona"
              [class.is-invalid]="
                zonaForm?.controls?.['nombre_zona']?.invalid &&
                zonaForm?.controls?.['nombre_zona']?.touched
              "
              required
            />
            <div class="invalid-feedback">Vacío | Formato no válido</div>
          </div>
          <div class="col-md-12">
            <label for="mapbox_json_field" class="form-label">Coordenadas</label>
            <textarea
              formControlName="mapbox_json"
              type="text"
              value="{{ dataGet.mapbox_json }}"
              name="mapbox_json"
              class="form-control"
              id="mapbox_json_field"
              placeholder="Introduce la coordenadas"
              [class.is-invalid]="
                zonaForm?.controls?.['mapbox_json']?.invalid &&
                zonaForm?.controls?.['mapbox_json']?.touched
              "
              rows="5"
              required
            ></textarea>

            <div class="invalid-feedback">Vacío | Formato no válido</div>
          </div>
          <div class="col-md-12">
            <label for="peligrosidad_field" class="form-label">Peligrosidad</label>
            <select
              formControlName="peligrosidad"
              name="peligrosidad"
              value="{{ dataGet.peligrosidad }}"
              class="form-select"
              id="peligrosidad_field"
              [class.is-invalid]="
                zonaForm?.controls?.['peligrosidad']?.invalid &&
                zonaForm?.controls?.['peligrosidad']?.touched
              "
              required
            >
              <option selected disabled value="">Selecciona la peligrosidad</option>
              <option>VERDE</option>
              <option>AMARILLO</option>
              <option>ROJO</option>
            </select>
            <div class="invalid-feedback">Vacío | Formato no válido</div>
          </div>
          <div class="col-12 d-flex justify-content-between">
            <!-- Modal footer -->
            <div class="modal-footer w-100 justify-content-center justify-content-lg-between px-0">
              <button type="submit" class="btn btn-primary">
                {{ dataGet.id == 0 ? 'Crear' : 'Actualizar' }} Zona
              </button>
              <div>
                <button class="btn btn-info me-2" type="reset">Restablecer</button>
                <button
                  type="button"
                  class="btn btn-danger ms-2 px-4"
                  data-bs-dismiss="modal"
                  (click)="closeFormModal()"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
