<div class="d-inline-block bg-secondary mt-1 px-3 py-2 rounded-end-4 me-3">
  <div
    class="d-lg-flex d-none align-items-center  {{
      visible ? 'justify-content-between' : 'justify-content-center'
    }}"
  >
    <span class="h2 text-light {{ visible ? 'd-inline' : 'd-none' }}">Menu</span>
    <button class="btn btn-info px-2 py-0" (click)="visible = !visible">
      <i class="bi {{ visible ? 'bi-x-lg' : 'bi-list' }} fs-2"></i>
    </button>
  </div>
  <div routerLink="solicitudes">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-send-exclamation fs-3"></i
      ><span class="fs-4 ps-3 d-none {{ visible ? 'd-lg-inline' : '' }}"
        >Solicitudes</span
      >
    </button>
  </div>
  <div routerLink="mensajes">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-envelope fs-3"></i
      ><span class="fs-4 ps-3 d-none {{ visible ? 'd-lg-inline' : 'd-none' }}">Mensajes</span>
    </button>
  </div>
  <div routerLink="estadisticas">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-graph-up fs-3"></i
      ><span class="fs-4 ps-3 d-none {{ visible ? 'd-lg-inline' : 'd-none' }}">Estadísticas</span>
    </button>
  </div>
  <div routerLink="usuarios">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-person fs-3"></i
      ><span class="fs-4 ps-3 d-none {{ visible ? 'd-lg-inline' : 'd-none' }}">Usuarios</span>
    </button>
  </div>
  <div routerLink="ajustes">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-person-video2 fs-3"></i
      ><span class="fs-4 ps-3 d-none {{ visible ? 'd-lg-inline' : 'd-none' }}">Ajustes</span>
    </button>
  </div>
  <div routerLink="zonas">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-pin-map fs-3"></i
      ><span class="fs-4 ps-3 d-none  {{ visible ? 'd-lg-inline' : 'd-none' }}">Zonas</span>
    </button>
  </div>
  <div routerLink="rutas">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-cursor fs-3"></i
      ><span class="fs-4 ps-3 d-none  {{ visible ? 'd-lg-inline' : 'd-none' }}">Rutas</span>
    </button>
  </div>
  <div routerLink="comentarios">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-chat-left-dots fs-3"></i
      ><span class="fs-4 ps-3 d-none  {{ visible ? 'd-lg-inline' : 'd-none' }}"
        >Comentarios</span
      >
    </button>
  </div>
  <div routerLink="objetos">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-geo-alt fs-3"></i
      ><span class="fs-4 ps-3 d-none  {{ visible ? 'd-lg-inline' : 'd-none' }}">Objetos</span>
    </button>
  </div>
  <div routerLink="tiposobjeto">
    <button
      class="d-flex btn btn-secondary-dark justify-content-start align-items-center text-light py-1 my-2 w-100"
    >
      <i class="bi bi-question-diamond fs-3"></i
      ><span class="fs-4 ps-3 d-none {{ visible ? 'd-lg-inline' : 'd-none' }}">Tipos</span>
    </button>
  </div>
</div>
