<section class="my-5">
  <div class="d-flex align-items-center h-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card">
            <div class="card-body py-5">
              <h2 class="text-uppercase text-center mb-5">Iniciar session</h2>

              <form class="row" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-outline mb-4">
                  <input
                    formControlName="username"
                    type="text"
                    id="username_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="username_field">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    formControlName="password"
                    type="password"
                    id="password_field"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="password_field">Password</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-primary-light text-light btn-block btn-lg gradient-custom-4 w-100"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  ¿Ya tienes una cuenta?
                  <a href="auth/recover" class="fw-bold text-primary" routerLink="/recover"
                    ><u>¿Has olvidado la contraseña?</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
