//variables nuevas para bootstrap
$primary: #5B2671;
$primary-light: #9974AA;
$secondary:#e6d15a;
$secondary-dark:#ac9f30;
$success:#527614;
$danger: #af251b;
$warning: #ffa023;
$info: #a0C562;
$color_primary-accento: #84329B;
$light: white;
// $dark:
$text-nav: #736100;


//Form - botones de form

$color_form_bg: #f8f9fa;
$border-form: $primary-light;
$navigacion-btn-text:$light;
//$btn-form: #c216db;

$btn-hover-bg: darken($primary, 10%);

